{% extends 'base.html' %}

{% block title %}Create Sale{% endblock %}

{% block header2 %}Create Sale{% endblock %}


{% block create_sale %}
<script src="{{ url_for('static', filename='assets/dist/js/create_sale.js') }}"></script>
{% autoescape false %}
	{% if flash_main != '' %}
        <p style="color: rgba(84, 216, 226, .95);"><b>{{ flash_main }}</b></p>
	{% endif %}

	{% if flash_sale %}
    	<p style="color: rgba(84, 216, 226, .95);"><b>{{ flash_sale }}</b></p>
	{% endif %}

	{% if flash_unit %}
    	<p style="color: rgba(84, 216, 226, .95);"><b>{{ flash_unit }}</b></p>
	{% endif %}
{% endautoescape %}

<form class="form-inline" method="post" id="form_item" enctype="multipart/form-data">
    {% for key in sale_info %}
		{% if sale_info[key]['err'] %}
			{% set bg = 'background-color: #ff6961;'%}
		{% else %}
			{% set bg = 'background-color: auto;'%}
		{% endif %}
		<p>
			<label style="width: 200px; text-align: left; font-weight: bold;">{{ const['SALE_INFO_LABELS'][key]['head'] }}</label>
			{% if key == 'forest' %}
				<select name="S_{{ key }}" class="form-select form-select-sm" aria-label=".form-select-lg example" style="width: 200px; display: inline;">
				{% for i in const['FOREST_BLOCKS'] %}
					<option value="{{ i }}">{{ i }}</option>
				{% endfor %}
				</select>
			{% else %}
				<input type="{{ sale_info[key]['type'] }}" name="S_{{ key }}" value="{{ sale_info[key]['val'] }}" style="width: 200px; {{ bg }}" />
			{% endif %}
		</p>
    {% endfor %}

	<div class="form-group">
		<p id="button_zone">
			<input type="button" class="form-group btn btn-dark btn-sm" value="add unit" id="add_unit" name="add_unit" onclick="add_unit_row()" />
			<input type="button" class="form-group btn btn-info btn-sm" value="add units from shapefile" id="add_unit_shp" name="add_unit_shp" onclick="document.getElementById('shp_file').click();" />
			<input type="button" class="form-group btn btn-danger btn-sm" style="visibility: hidden;" value="delete unit" id="delete_unit" name="delete_unit" onclick="delete_submit()" />
			<input type="text" style="visibility: hidden;" value="off" id="delete_on" name="delete_on" />
			<input type="file" accept=".shp, .dbf" multiple="" id="shp_file" name="shp_file" style="display: none;" onchange="submit_check()" />
			<input type="text" value="no" id="create_sale" name="create_sale" style="display: none;" />
		</p>
		<div class="table-responsive">
			<table class="table table-striped table-sm text-center">
				<thead>
					<tr>
					{% for i in units_table['header'][0] %}
						{% if i == 'checkbox' %}
							<th class="td-parent" style="width: 15px;"><input class="form-check-input" type="checkbox" id="select_all" name="select_all" onclick="select_all_items(this)" /></th>
						{% else %}
							<th class="td-parent" colspan="2" style="width: 50px;">{{ i }}</th>
						{% endif %}
					{% endfor %}
					</tr>
					<tr>
					{% for i in units_table['header'][1] %}
						{% if i == 'checkbox' %}
							<th style="width: 15px;"></th>
						{% elif i == 'blank' %}
							<th colspan="2"><small><label style="width: 70px;"></label></small></th>
						{% else %}
							<th><small><label style="width: 50px;">{{ i }}</label></small></th>
						{% endif %}
					{% endfor %}
					</tr>
				</thead>
				<tbody id="sale_table_body">
					{% if 'body' in units_table %}
						{% for row in units_table['body'] %}
							{% set cb = row['checkbox'] %}
							{% set u_name = row['unit_name'] %}
							{% set harv = row['harvest'] %}
							{% set trusts = row['trusts'] %}
							<tr>
								<td><input id="{{ cb['name'] }}" name="{{ cb['name'] }}" class="form-check-input" type="checkbox" onclick="unhide_delete()" /></td>

								{% if u_name['err'] %}
									{% set bg = 'background-color: #ff6961;' %}
								{% else %}
									{% set bg = 'background-color: auto; '%}
								{% endif %}
								<td id="{{ u_name['name'] }}" colspan="2"><small><input type="text" name="{{ u_name['name'] }}" value="{{ u_name['val'] }}" style="width: 70px; {{ bg }}" /></small></td>

								{% if harv['err'] %}
									{% set bg = 'background-color: #ff6961;' %}
								{% else %}
									{% set bg = 'background-color: auto; '%}
								{% endif %}
								<td colspan="2"><small><input type="text" name="{{ harv['name'] }}" value="{{ harv['val'] }}" style="width: 70px; {{ bg }}" /></small></td>
								{% for t in trusts %}
									{% if t['err'] %}
										{% set bg = 'background-color: #ff6961;' %}
									{% else %}
										{% if t['val'] > 0 %}
											{% set bg = 'background-color: #C7F9F9;' %}
										{% else %}
											{% set bg = 'background-color: auto;' %}
										{% endif %}
									{% endif %}
									<td><small><input type="text" name="{{ t['name'] }}" value="{{ t['val'] }}" style="width: 50px; {{ bg }}" /></small></td>
								{% endfor %}
							</tr>
						{% endfor %}
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>

	<p><input type="button" class="form-group btn btn-dark btn-md" value="create" id="submit_sale_edits" onclick="submit_create()" /></p>
</form>

{% endblock %}